ansible==13.2.0
ansible-compat==25.12.0
ansible-core==2.20.1
attrs==25.4.0
bracex==2.6
bump2version==1.0.1
cffi==2.0.0
click==8.3.1
click-help-colors==0.9.4
cryptography==46.0.3
enrich==1.2.7
jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
molecule==25.12.0
molecule-plugins==25.8.12
packaging==25.0
pluggy==1.6.0
pycparser==2.23
pygments==2.19.2
pyyaml==6.0.3
referencing==0.37.0
resolvelib==1.2.1
rich==14.2.0
rpds-py==0.30.0
subprocess-tee==0.4.2
typing-extensions==4.15.0
wcmatch==10.1
zipp==3.23.0
